* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #3BAFBE; }

ul {
  list-style-type: none; }

.main-container-blocks {
  display: grid;
  grid-template-rows: 150px 1fr 1fr 1fr 250px minmax(100px 1fr);
  grid-template-areas: "header" "important-information" "information-big-img" "information-small-img" "footer-1" "footer-2"; }
  .main-container-blocks .header {
    grid-area: header;
    padding-top: 10px;
    border-top: 10px solid #3BAFBE;
    display: grid;
    grid-template-columns: 1fr 2fr; }
    .main-container-blocks .header .image_social {
      display: flex;
      align-items: center;
      margin-left: 10px; }
      .main-container-blocks .header .image_social img {
        width: 30px;
        height: 30px;
        padding: 0px 10px; }
    .main-container-blocks .header .logo {
      padding-left: 20px; }
    .main-container-blocks .header .logo-big {
      color: #4a4a4a;
      margin: 0;
      font-size: 40px; }
    .main-container-blocks .header .logo-small {
      color: #999; }
  .main-container-blocks .search_input {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .main-container-blocks .search_input input {
      width: 200px;
      height: 25px;
      padding: 3px;
      background-color: #4a4a4a;
      color: #fff;
      font-size: 15px;
      border: none;
      margin-right: 5px;
      border-radius: 5px; }
    .main-container-blocks .search_input button {
      padding: 6px;
      height: 30px;
      border-radius: 7px;
      font-size: 14px;
      background: #3BAFBE;
      color: #FFFFFF; }
  .main-container-blocks .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .main-container-blocks .menu ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      justify-content: space-around;
      align-items: end; }
      .main-container-blocks .menu ul li a {
        margin: 0px 10px;
        color: #4a4a4a;
        text-decoration: none; }
      .main-container-blocks .menu ul li a:hover {
        color: #3DAFBD; }
  .main-container-blocks .important-information {
    grid-area: important-information;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid silver; }
    .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(1) {
      padding-top: 25px;
      flex-basis: 400px;
      padding-left: 10px; }
      .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(1) img {
        width: 450px;
        height: 350px; }
    .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(2) {
      margin-top: 30px;
      flex-basis: 585px; }
      .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(2) .navigation_img {
        width: 90px;
        height: 30px;
        margin-top: 20px;
        margin-left: 490px; }
        .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(2) .navigation_img img {
          width: 90px;
          height: 30px; }
      .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(2) button {
        padding: 6px;
        height: 35px;
        border-radius: 7px;
        font-size: 18px;
        background: #3BAFBE;
        color: #FFFFFF;
        margin-top: 20px; }
      .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(2) h2 {
        text-align: left;
        color: #666666;
        font-size: 2.3em;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"); }
      .main-container-blocks .important-information .inner_block_information_and_navigation:nth-child(2) p {
        font-family: Georgia;
        font-style: italic;
        color: #999999;
        font-size: 19px;
        margin-top: 15px;
        line-height: 1.5; }
  .main-container-blocks .information-big-img {
    grid-area: information-big-img;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid silver;
    justify-content: space-around; }
    .main-container-blocks .information-big-img .title-3-images {
      flex-basis: 200px;
      padding: 30px 10px;
      height: 400px; }
      .main-container-blocks .information-big-img .title-3-images .your-title {
        font-weight: lighter;
        font-family: Georgia;
        color: #000000; }
      .main-container-blocks .information-big-img .title-3-images img {
        width: 300px;
        height: 160px; }
      .main-container-blocks .information-big-img .title-3-images p {
        font-weight: lighter;
        font-family: Georgia;
        font-style: italic;
        color: #999999;
        margin-top: 30px; }
      .main-container-blocks .information-big-img .title-3-images button {
        padding: 6px;
        border-radius: 7px;
        background: #3BAFBE;
        color: #FFFFFF;
        margin-top: 20px; }
  .main-container-blocks .information-small-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: information-small-img;
    border-top: 1px solid silver; }
    .main-container-blocks .information-small-img h2 {
      text-align: center;
      width: 77%;
      color: #666666;
      font-size: 2.4em;
      font-family: "Open Sans";
      font-weight: 400; }
    .main-container-blocks .information-small-img .title-6-images {
      flex-basis: 325px;
      height: 110px;
      margin-top: 20px; }
      .main-container-blocks .information-small-img .title-6-images img {
        width: 80px;
        height: 80px;
        padding-right: 20px;
        float: left; }
      .main-container-blocks .information-small-img .title-6-images h4 {
        margin-left: 10px;
        color: #3BAFBE;
        padding-bottom: 5px;
        font-size: 1.1em; }
      .main-container-blocks .information-small-img .title-6-images p {
        margin-left: 15px;
        font-size: 14px;
        color: #848C92;
        line-height: 18px; }
  .main-container-blocks .footer-1 {
    border-top: 1px solid silver;
    height: 250px;
    background: #252525;
    grid-area: footer-1;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    color: white; }
    .main-container-blocks .footer-1 .inner_columns_menu {
      padding-top: 10px; }
      .main-container-blocks .footer-1 .inner_columns_menu p {
        font-size: 27px;
        padding-left: 50px;
        padding-bottom: 20px; }
      .main-container-blocks .footer-1 .inner_columns_menu li {
        font-size: 13px;
        color: #999999;
        padding-left: 50px;
        padding-top: 10px; }
        .main-container-blocks .footer-1 .inner_columns_menu li .read_more {
          margin-left: 180px; }
      .main-container-blocks .footer-1 .inner_columns_menu input {
        width: 200px;
        height: 30px;
        background-color: #2C2C2C;
        color: #999;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: 25px; }
      .main-container-blocks .footer-1 .inner_columns_menu button {
        padding-left: 10px;
        padding-right: 10px;
        height: 32px;
        border-radius: 5px;
        font-size: 14px;
        background: #3BAFBE;
        color: #FFFFFF;
        margin-left: 25px; }
  .main-container-blocks .footer-2 {
    background: #1A1A1A;
    grid-area: footer-2;
    color: #999999;
    text-alighn: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px; }
    .main-container-blocks .footer-2 .footer_part_1 {
      margin-left: 50px;
      padding-top: 20px;
      padding-bottom: 20px; }
    .main-container-blocks .footer-2 .footer_part_2 {
      margin-right: 50px;
      padding: 20px 0; }
  @media screen and (max-width: 900px) {
    .main-container-blocks .footer-1 {
      height: 540px;
      grid-template-columns: repeat(2, minmax(200px, 1fr)); } }

@media screen and (max-width: 1050px) {
  .important-information .inner_block_information_and_navigation:nth-child(2) {
    margin-left: 130px; } }
@media screen and (max-width: 720px) {
  .main-container-blocks {
    grid-template-rows: 350px 640px 1fr minmax(500px, 950px) 500px;
    min-width: 450px; }
    .main-container-blocks .header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .main-container-blocks .header .logo {
        order: 1; }
      .main-container-blocks .header .image_social {
        order: 2; }
      .main-container-blocks .header .search_input {
        order: 3; }
      .main-container-blocks .header .menu {
        order: 4; }

  .information-big-img {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .information-big-img img {
      margin-left: 200px; }
    .information-big-img p {
      margin-left: 100px; }
    .information-big-img .your-title {
      margin-left: 280px; }
    .information-big-img button {
      margin-left: 100px; }

  .information-small-img {
    flex-direction: column;
    height: 900px; }
    .information-small-img h2 {
      width: 90%;
      font-size: 1.3em;
      margin-left: 80px;
      height: 100px;
      margin-bottom: 100px; }

  .title-6-images {
    flex-basis: 0 !important;
    height: 110px;
    margin-top: 40px; }
    .title-6-images img {
      margin-left: 100px; }
    .title-6-images p {
      font-size: 15px;
      width: 450px; }
    .title-6-images h4 {
      font-size: 1.4em; } }
