.clock {
    position: relative;
    width: 600px;
    height: 600px;
}

.hands {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 96%;
    max-width: 960px;
    margin: 0 auto; /* центрируем основной контейнер */
}

img {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
}

#secondHand1{
    z-index: -1;
}

